$bgColor = #00bcd4
$darkTextColor = #333
$headerHeight = .86rem
$searchFont = 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', Arial, sans-serif

